@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
body {
  font-family: "Philosopher";
  font-size: 17px;
  font-weight: 400;
  line-height: 3;
}
main {
  padding-left: 30px;
}
.task__title {
  font-weight: 700;
}
.task__img {
  max-width: 700px;
  border: 1px solid black;
}
.task__img img {
  max-width: 100%;
}
a:hover {
  text-decoration: underline;
}
